.main{
    max-width: 1280px;
    margin: auto;
}

.democontainer{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    background-color: #24A1FD;
}
.mobcontainer{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    background-color: #24A1FD;
    
}
.hidetitles{
    width: 90%;
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between; 
}
.searchcontainer{
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    margin-left: 10rem;
    margin-top: -0.5rem;
}

.search{
    padding: 6px 2px 6px 10px;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: 2px solid #08376B
}

.btn{
background-color: white;
margin-left: -20%;
border: none;
}
.nav_right{
    list-style: none;
    display:flex;
}
.nav_item{
    margin-right: 2rem;
}
.login{
    color: white;
    background-color: #24A1FD;
    border: none;
    padding: 8px 15px 8px 16px;
    border-radius: 20px;
    height: fit-content;
    margin-top: -0.5rem;
}

.wrapper{
    padding: "20px 40px";
    display: "flex";
    justify-content: "space-between";
    align-items: "center"
}
.hidetitles{
    display:flex;
    margin-left: 2rem;
}
.hideham{
    float: right;
    margin-right: 2rem;
    margin-top: -1rem;
}
@media only screen and (min-width: 768px) {
    .hideham{
        display: none;
    }
    .container{
        display: flex;
    }
}
@media only screen and (max-width: 768px) {
.hidetitles{
    display: none;
}
}
.Design{
    width: 100%;
    height: 20px;
    /* z-index: -1; */
    border-top: 0px solid white;
    background-color: #24A1FD;
    border-bottom: 60px solid white;
    border-left: 619px solid transparent;
}
/* .content{
    z-index: 1;
} */

@media only screen and (max-width: 977px) {
    .searchcontainer{
        margin-right: 0.5rem;
        margin-left: 6rem;
    }
    .nav_item{
        margin-right: 1rem;
    } 
}

@media only screen and (max-width: 840px) {
    .searchcontainer{
        margin-right: 0rem;
       
    }
    .btn{
        margin-left: -18%;
        }
        .nav_right{
        margin-left: -3rem;
        }
        .nav_item{
            margin-right: 0.8rem;
        } 
}